<div mat-dialog-content class="change-password">
    <form [formGroup]="form" >
        <fieldset>
            <legend>Change your password</legend>

            <div class="form-group row">
                <mat-form-field>
                    <mat-label>Old password:</mat-label>
                    <input matInput type="password" formControlName="oldPassword">
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-form-field>
                    <mat-label>New password:</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-form-field>
                    <mat-label>Repeat new password:</mat-label>
                    <input matInput type="password" formControlName="newPasswordRepeat">
                </mat-form-field>
            </div>

            <div mat-dialog-actions class="row">
                <button mat-raised-button mat-dialog-close="true" type="submit" (click)="submit()" [disabled]="form.invalid">Submit</button>
            </div>

        </fieldset>
    </form>
</div>
